@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --verde-escuro: #08271C;
  --verde-claro: #0DAB76;
  --preto: #000;
  --branco: #fff;
  --cinza: #3B3B3B;
  --cinza-claro: #D9D9D9;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--cinza);
  margin: 0;
  padding: 0;
}

/* ------------ CABEÇALHO ------------*/

header {
  width: 100%;
  height: 100px;
  background-color: var(--verde-escuro);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content-cabecalho {
  height: 100%;
  width: 90%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-cabecalho h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
}

.info-cabecalho {
  height: 100%;
  width: 57%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-cabecalho {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-cabecalho a {
  font-size: 20px;
  color: var(--branco);
  text-decoration: none;
}

.links-cabecalho a:hover {
  font-size: 24px;
  text-decoration: underline;
  padding: 10px 15px;
  background-color: var(--verde-claro);
  border-radius: 20px;
}

/* ------------ CABEÇALHO ------------*/

/* ------------ MAIN ------------*/

main {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-main {
  height: 100%;
  width: 77%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.inicio {
  width: 100%;
  height: 415px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--branco);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--branco);
  margin: 0;
  padding: 0;
}

.margin-espacos {
  margin: 100px 0 0 0;
}

.padding-subtitulos {
  padding: 50px 0 0 0;
}

.inicio img {
  width: 415px;
  height: 415px;
  border-radius: 100%;
}

.infos-esquerda {
  width: 33%;
  height: 60%;
  /* background-color: #0DAB76; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos-esquerda button {
  height: 40px;
  width: 160px;
  background-color: var(--cinza-claro);
  color: var(--preto);
  border-radius: 15px;
  font-size: 24px;
}

.redes-inicio {
  height: auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
}

.redes-inicio img {
  width: 60px;
  height: 60px;
  border-radius: 0%;
}

.sobre {
  width: 100%;
  height: auto;
  background-color: var(--verde-escuro);
  border-radius: 50px;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.content-sobre {
  width: 90%;
  height: 80%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: var(--verde-claro);
  margin: 0;
  color: var(--branco);
}

.content-sobre h3 {
  margin: 0 0 30px 0;
}

.habilidades {
  width: 100%;
  height: 425px;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skills {
  width: 100%;
  height: 77%;
  /* background-color: #0DAB76; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.skills p {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: var(--branco);
}

.img-habilidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-habilidades img {
  width: 150px;
  height: 150px;
}

.secoes-habilidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.secoes-habilidades img {
  width: auto;
  height: 55px;
}

.secoes-habilidades .circulo {
  width: 25px;
  height: 25px;
  padding: 0 5px;
}

.experiencias {
  width: 100%;
  height: auto;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vaga-aberta {
  width: 100%;
  height: auto;
  /* background-color: var(--verde-escuro); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dados-vaga-aberta {
  width: 100%;
  height: 100px;
  background-color: var(--cinza-claro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--preto);
  border-radius: 25px;
  font-size: 24px;
}

.vaga-dir {
  margin-left: 40px;
}

.vaga-esq img {
  width: 30px;
  height: auto;
  margin-left: 15px;
}

.vaga-esq {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
}

.funcao-vaga {
  width: 100%;
  height: auto;
  background-color: var(--cinza-claro);
  border-radius: 25px;
  font-size: 24px;
  margin-top: 15px;
}

.infor-vaga {
  display: flex;
  flex-direction: row;
  margin: 20px 40px;
}

.descricao-vaga {
  margin-right: 40px;
  text-align: justify;
  /* background-color: aqua; */
}

.logo-trabalho {
  /* background-color: #0DAB76; */
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.logo-trabalho img {
  width: 185px;
  height: auto;
}

.vaga-fechada {
  width: 100%;
  height: auto;
  /* background-color: var(--verde-escuro); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
}

.dados-vaga {
  width: 100%;
  height: 100px;
  background-color: var(--verde-escuro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--branco);
  border-radius: 25px;
  font-size: 24px;
}

.projetos {
  width: 100%;
  height: auto;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abas-projetos {
  width: 100%;
  height: 335px;
  display: flex;
  justify-content: space-between;
}

.card {
  height: 100%;
  /* width: 31%; */
  background-color: var(--verde-escuro);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.img-card {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  border-radius: 25px;
  background-color: var(--cinza-claro);
}

.img-card img {
  border-radius: 25px;
  width: auto;
  display: flex;
  justify-content: flex-start;
}

.texto-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  color: var(--branco);
}

.texto-card:hover {
  /* outline: 2px solid var(--verde-claro); */
  cursor: pointer;
}

.contato {
  width: 100%;
  height: auto;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: var(--branco);
  /* background-color: aqua; */
}

.conteudo {
  font-size: 24px;
}

/* COLUNA ESQUERDA */

.col-esquerda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 515px;
  /* background-color: blue; */
}

.col-esquerda p {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin: 18px 0; */
}

.item p {
  font-size: 24px;
}

.item img {
  width: 50px;
  height: 50px;
}

/* COLUNA DIREITA */
.col-direita {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 515px;
  /* background-color: blue; */
  font-size: 24px;
}

.input {
  width: 100%;
  /* height: 40px; */
  display: flex;
  flex-direction: column;
}

.input input {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  /* width: 100%; */
  height: 40px;
}

.mensagem {
  display: flex;
  flex-direction: column;
}

.mensagem textarea {
  /* width: 100%; */
  height: 150px;
  border-radius: 10px;
  border: none;
}

.col-direita input:focus,
.col-direita textarea:focus {
  outline: 2px solid var(--verde-claro);
}

.col-direita button {
  margin-top: 20px;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  background: white;
  color: black;
  cursor: pointer;
  align-self: center;
}

footer {
  background-color: var(--verde-escuro);
  width: 100%;
  height: 100px;
  color: var(--branco);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}