@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --verde-escuro: #08271C;
  --verde-claro: #0DAB76;
  --preto: #000;
  --branco: #fff;
  --cinza: #3B3B3B;
  --cinza-claro: #D9D9D9;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: var(--cinza);
  margin: 0;
  padding: 0;
}

/* ------------ CABEÇALHO ------------*/

header {
  width: 100%;
  height: 100px;
  background-color: var(--verde-escuro);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content-cabecalho {
  height: 100%;
  width: 90%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-cabecalho h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 24px;
}

.info-cabecalho {
  height: 100%;
  width: 57%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-cabecalho {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-cabecalho a {
  font-size: 20px;
  color: var(--branco);
  text-decoration: none;
}

.links-cabecalho a:hover {
  font-size: 24px;
  text-decoration: underline;
  padding: 10px 15px;
  background-color: var(--verde-claro);
  border-radius: 20px;
}

/* ------------ CABEÇALHO ------------*/

/* ------------ MAIN ------------*/

main {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-main {
  height: 100%;
  width: 77%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.inicio {
  width: 100%;
  height: 415px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0 0;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: var(--branco);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  color: var(--branco);
  margin: 0;
  padding: 0;
}

.inicio img {
  width: 415px;
  height: 415px;
  border-radius: 100%;
}

.infos-esquerda {
  width: 33%;
  height: 60%;
  /* background-color: #0DAB76; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos-esquerda button {
  height: 40px;
  width: 160px;
  background-color: var(--cinza-claro);
  color: var(--preto);
  border-radius: 15px;
  font-size: 24px;
}

.redes-inicio {
  height: auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: blue; */
}

.redes-inicio img {
  width: 60px;
  height: 60px;
  border-radius: 0%;
}

.sobre {
  width: 100%;
  height: auto;
  background-color: var(--verde-escuro);
  border-radius: 50px;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin: 100px 0 0 0;
}

.content-sobre {
  width: 90%;
  height: 80%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 40px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: var(--verde-claro);
  margin: 0;
  color: var(--branco);
}

.content-sobre h3 {
  margin: 0 0 30px 0;
}

.habilidades {
  width: 100%;
  height: 425px;
  background-color: brown;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habilidades h3 {
  padding-bottom: 50px;
}

.skills {
  width: 100%;
  height: 77%;
  background-color: #0DAB76;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills p {
  margin: 0;
  padding: 0;
  font-size: 32px;
  color: var(--branco);
}

.img-habilidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-habilidades img {
  width: 150px;
  height: 150px;
}